# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Build files
dist/

# IDE files
.idea/
.vscode/

# macOS files
.DS_Store

# Log files
*.log
